<% include partials/header %>
<h1> This is home page</h1>
<img src="https://cdn-image02.casetify.com/usr/6916/3066916/~v2/4831980_iphone-x__color_silver_561601__style5.png.560x560.m80.jpgç">

<% include partials/footer %>